@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Young+Serif&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@layer base {
    html {
        font-family: 'Manrope', sans-serif;
    }
}

section {
    padding: 9.375rem 8rem 0;
}

li {
    list-style: none;
}

.bg-gradient {
    background: linear-gradient(180deg, #02B5EA 3%, rgba(1.95, 181.25, 233.75, 0.15) 100%);
}
.bg-gradient-footer {
    background: linear-gradient(180deg, #ff0080 3%, #ff028d26 100%);
}

@media screen and (max-width:768px) {
    section {
        padding: 4rem;
    }
}

@media screen and (max-width:1000px) {
    section {
        padding: 2rem;
    }
}

@media screen and (max-width:500px) {
    section {
        padding: 1.125rem;
    }
}


/* SWIPPER */
